<!DOCTYPE HTML>
<html>
  <head>
    <title>Fanatico FC</title>
    <style>
      body { font-family: Arial; font-size: 20px ;}
      a { text-decoration: none; color: #333; }
      .logout a { color: #2554C7; font-size: 15px; }
      .article { font-size: 1.2em; }
      .like_site { font-size: 0.8em }
    </style>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="chosen.css" />
    <link rel="stylesheet" href="jquery.zrssfeed.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="javascript/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="javascript/jquery.zrssfeed.min.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>


  </body>
</html>